<%= form_with(model: tree_specy, local: true) do |form| %>
  <% if tree_specy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tree_specy.errors.count, "error") %> prohibited this tree_specy from being saved:</h2>

      <ul>
      <% tree_specy.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :species_name %>
    <%= form.text_field :species_name %>
  </div>

  <div class="field">
    <%= form.label :species_code %>
    <%= form.text_field :species_code %>
  </div>

  <div class="field">
    <%= form.label :foilage_type %>
    <%= form.collection_select :foilage_type, TreeSpecy::FOILAGE_TYPES,
                                :to_s, :to_s, include_blank: false %>
  </div>

  <div class="field">
    <%= form.label :foilage_strategy %>
    <%= form.collection_select :foilage_strategy, TreeSpecy::FOILAGE_STRATEGIES,
                                :to_s, :to_s, include_blank: false %>
  </div>

  <div class="field">
    <%= form.label :taxonomy %>
    <%= form.collection_select :taxonomy, TreeSpecy::TAXONOMIES,
                                :to_s, :to_s, include_blank: false %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
