<p id="notice"><%= notice %></p>

<h1>Tree Species</h1>

<h5>
  <%= link_to 'CSV Download', tree_species_path(format: :csv) %>
  <% if admin_signed_in? %>
    | <%= link_to 'New Tree Species CSV Uploads', new_tree_specy_path %>
  <% end %>
</h5>

<table class="table table-striped">
  <thead class="table-info">
    <tr>
      <th class="text-center">Species Name</th>
      <th class="text-center">Species Code</th>
      <th class="text-center">Foilage Type</th>
      <th class="text-center">Foliage Strategy</th>
      <th class="text-center">Taxonomy</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tree_species.each do |tree_specy| %>
      <tr>
        <td class="text-center"><%= tree_specy.species_name.to_s.capitalize %></td>
        <td class="text-center"><%= tree_specy.species_code.to_s.upcase %></td>
        <td class="text-center"><%= tree_specy.foilage_type %></td>
        <td class="text-center"><%= tree_specy.foilage_strategy %></td>
        <td class="text-center"><%= tree_specy.taxonomy %></td>
        <% if admin_signed_in? %>
          <td><%= link_to 'Show', tree_specy %></td>
          <td><%= link_to 'Edit', edit_tree_specy_path(tree_specy) %></td>
          <td><%= link_to 'Destroy', tree_specy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if admin_signed_in? %>
  <%= link_to 'New Tree Specy', new_tree_specy_path %>
<% end %>
