<!-- <p id="notice"><%= notice %></p> -->

<h1>Tree Measurements</h1>

<h5>
  <%= link_to 'CSV Download', tree_measurements_path(format: :csv) %>
  <% if admin_signed_in? %>
    <hr>
    Import new CSV Data -- <small><strong>SLOW!</strong></small>:
    <%= form_for :tree_measurements, url: tree_measurements_import_csv_path,
                            multipart: true do |form| %>
      <%= form.file_field :csv_file, class: "btn btn-sm btn-light" %>
      <%= form.submit "Import", class: "btn btn-sm btn-info" %>
    <% end %>
    <small>
      <strong>Import fields:</strong>
      <em>(plot_code, species_code, subquadrat, tree_label,
      circumfrence_cm, measurement_date)</em>
      -- other fields will be ignored
    </small>
    <hr>
  <% end %>
</h5>

<table class="table table-sm table-striped">
  <thead class="table-info">
    <tr>
      <th class="text-center">Transect Code</th>
      <th class="text-center">Plot Elevation (m)</th>
      <th class="text-center">Plot Code</th>
      <th class="text-center">Species Code</th>
      <th class="text-center">Tree Foilage</th>
      <th class="text-center">Tree Subquadrat</th>
      <th class="text-center">Tree Label</th>
      <th class="text-center">Tree Circumfrence (cm)</th>
      <th class="text-center">Plot Latitude</th>
      <th class="text-center">Plot Longitude</th>
      <th class="text-center">Measurement Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tree_measurements.each do |tree_measurement| %>
      <tr>
        <td class="text-center"><%= tree_measurement.transect.transect_code.to_s.upcase %></td>
        <td class="text-center"><%= tree_measurement.tree_plot.elevation_m %></td>
        <td class="text-center"><%= tree_measurement.tree_plot.plot_code.to_s.upcase %></td>
        <td class="text-center"><%= tree_measurement.tree_specy.species_code.to_s.capitalize %></td>
        <td class="text-center"><%= tree_measurement.tree_specy.foilage_strategy.to_s.capitalize %></td>
        <td class="text-center"><%= tree_measurement.subquadrat.to_s.upcase %></td>
        <td class="text-center"><%= tree_measurement.tree_label %></td>
        <td class="text-center"><%= tree_measurement.circumfrence_cm %></td>
        <td class="text-center"><%= tree_measurement.tree_plot.latitude %></td>
        <td class="text-center"><%= tree_measurement.tree_plot.longitude %></td>
        <td class="text-center"><%= tree_measurement.measurement_date %></td>
        <% if admin_signed_in? %>
          <td><%= link_to 'Show', tree_measurement %></td>
          <td><%= link_to 'Edit', edit_tree_measurement_path(tree_measurement) %></td>
          <td><%= link_to 'Destroy', tree_measurement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if admin_signed_in? %>
  <%= link_to 'New Tree Measurement', new_tree_measurement_path %>
<% end %>
