<h1>Species by Elevation</h1>

<% @species_elevation_year.reverse_each do |year,data| %>

<h3><%= year %> Data Set</h3>
  <strong>Download Data as CSV</strong>
  <table  class="table table-sm table-striped">
    <% data.each_with_index do |row,index| %>
      <% if index.eql? 0 %>
        <thead class="table-info">
          <tr>
            <% row.each do |header| %>
              <th><%= header %></th>
            <% end %>
          </tr>
        </thead>
      <% else %>
        <tbody>
          <tr>
            <% row.each do |measurement| %>
              <td><%= measurement %></td>
            <% end %>
          </tr>
        </tbody>
      <% end %>
    <% end %>
  </table>
<% end %>

<hr>

<h3>Species Count by Plot for each Measurement Date</h3>

<strong>Download Data as CSV</strong>
<table  class="table table-sm table-striped">
  <thead class="table-info">
    <tr>
      <th>measurement_date</th>
      <th>elevation (m)</th>
      <th>plot_code</th>
      <th>species_code</th>
      <th>species_plot_count</th>
    </tr>
  </thead>

  <tbody>
    <% @species_elevation_date.each do |row| %>
      <tr>
        <td><%= row['measurement_date'] %></td>
        <td><%= row['elevation_m'] %></td>
        <td><%= row['plot_code'] %></td>
        <td><%= row['species_code'] %></td>
        <td><%= row['species_plot_count'] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
