<%= form_with(model: plot, local: true) do |form| %>
  <% if plot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(plot.errors.count, "error") %> prohibited this plot from being saved:</h2>

      <ul>
      <% plot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :plot_name %>
    <%= form.text_field :plot_name %>
  </div>

  <div class="field">
    <%= form.label :plot_code %>
    <%= form.text_field :plot_code %>
  </div>

  <div class="field">
    <%= form.label :elevation_m %>
    <%= form.number_field :elevation_m %>
  </div>

  <div class="field">
    <%= form.label :latitude %>
    <%= form.text_field :latitude %>
  </div>

  <div class="field">
    <%= form.label :longitude %>
    <%= form.text_field :longitude %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
