<h1>Species Density by Elevation</h1>

<table  class="table table-sm table-striped">
  <thead class="table-info">
    <tr>
      <th>Tree Plot</th>
      <th>Elevation</th>
      <th>Measurement Date</th>
      <th>Species Code</th>
      <th>Species Count per Quadrant</th>
    </tr>
  </thead>
  <tbody>
    <% @species_elevation.each do |row| %>
      <tr>
        <td><%= row.plot_code.to_s.upcase %></td>
        <td><%= row.elevation_m %></td>
        <td><%= row.measurement_date %></td>
        <td><%= row.species_code.to_s.capitalize %></td>
        <td><%= row.species_plot_count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
