<h1>
  Species Distribution Count by Plot
  <br>
  <small>for each Measurement Date</small>
</h1>

<p>
  <a class="btn btn-lg btn-primary" href="/species_count_avg_year"
      role="button">
    Species Count Avg by Elevation &raquo;
  </a>
</p>

<p>
  The first step in preparing the raw data to graph is to summarize
  the data by plot for each measurement date. Specifically, count the
  number of trees for each species in each plot for each measurement date.
  <br>
  Take a minute and see if the data is reasonable.  Thing to consider:
  <ul>
    <li>
      Are the same species found in the same plots each time?  If not why?
    </li>
    <li>
      Are the same number of trees found in each plot each time?
      Are the numbers similar?  If not why?
    </li>
    <li>
      At the sites at the same altitude, are the species the same each time?
      If not why?
    </li>
    <li>
      At the sites at the same altitude, are the same or similar each time?
      If not why?
    </li>
  </ul>
  What can you conclude about this data -- before graphing it?
  <em>
    What would you suggest future data collectors pay attention to or note
    while doing the measurements to improve this data set over time?
  </em>
</p>

<h6><%= link_to 'CSV Download', species_count_date_path(format: :csv) %></h6>

<hr witdh="5">

<% groups = @species.group_by{ |r| r['measurement_date'] } %>

<% groups.each do |date, data_grid| %>

  <h3><%= date %> Measurement Date</h3>

  <table  class="table table-sm table-striped">
    <thead class="table-info">
      <tr>
        <th>elevation (m)</th>
        <th>Plot Code</th>
        <th>Species Code</th>
        <th>Species Count per Plot</th>
      </tr>
    </thead>

    <tbody>
      <% data_grid.each do |row| %>
        <tr>
          <td><%= row['elevation_m'] %></td>
          <td><%= row['plot_code'] %></td>
          <td><%= row['species_code'] %></td>
          <td><%= row['species_plot_count'] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>
