<p id="notice"><%= notice %></p>

<p>
  <strong>subquadrat:</strong>
  <%= @tree.subquadrat %>
</p>

<p>
  <strong>Tree number:</strong>
  <%= @tree.tree_number %>
</p>

<p>
  <strong>Species:</strong>
  <%= @tree.species %>
</p>

<p>
  <strong>Circumfrence cm:</strong>
  <%= @tree.circumfrence_cm %>
</p>

<p>
  <strong>Measurement date:</strong>
  <%= @tree.measurement_date %>
</p>

<p>
  <strong>Plot:</strong>
  <%= @tree.plot.plot_code %>
</p>

<%= link_to 'Edit', edit_tree_path(@tree) %> |
<%= link_to 'Back', trees_path %>
