<!-- <p id="notice"><%= notice %></p> -->

<h1>Tree Plot Details</h1>

<h5>
  <%= link_to 'CSV Download', tree_plots_path(format: :csv) %>
  <% if admin_signed_in? %>
    <hr>
    Import new CSV Data
    <%= form_for :tree_plots, url: tree_plots_import_csv_path,
                            multipart: true do |form| %>
      <%= form.file_field :csv_file, class: "btn btn-sm btn-light" %>
      <%= form.submit "Import", class: "btn btn-sm btn-info" %>
    <% end %>
    <small>
      <strong>Import fields:</strong>
      <em>(transect_code, plot_code, plot_name, plot_slope, plot_aspect,
      elevation_m, latitude, longitude)</em>
      -- other fields will be ignored
    </small>
    <hr>
  <% end %>
</h5>

<table class="table table-striped">
  <thead class="table-info">
    <tr>
      <th class="text-center">Transect Code</th>
      <th class="text-center">Plot Code</th>
      <th class="text-center">Plot Name</th>
      <th class="text-center">Plot Slope</th>
      <th class="text-center">Plot Aspect</th>
      <th class="text-center">Plot Elevation (m)</th>
      <th class="text-center">Plot Latitude</th>
      <th class="text-center">Plot Longitude</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tree_plots.each do |tree_plot| %>
      <tr>
        <td class="text-center"><%= tree_plot.transect&.transect_code %></td>
        <td class="text-center"><%= tree_plot.plot_code.to_s.upcase %></td>
        <td class="text-center"><%= tree_plot.plot_name %></td>
        <td class="text-center"><%= tree_plot.plot_slope %></td>
        <td class="text-center"><%= tree_plot.plot_aspect %></td>
        <td class="text-center"><%= tree_plot.elevation_m %></td>
        <td class="text-center"><%= tree_plot.latitude %></td>
        <td class="text-center"><%= tree_plot.longitude %></td>
        <% if admin_signed_in? %>
          <td><%= link_to 'Show', tree_plot %></td>
          <td><%= link_to 'Edit', edit_tree_plot_path(tree_plot) %></td>
          <td><%= link_to 'Destroy', tree_plot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if admin_signed_in? %>
  <%= link_to 'New Tree Plot', new_tree_plot_path %>
<% end %>
