<%= form_with(model: transect_admin_editor, local: true) do |form| %>
  <% if transect_admin_editor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transect_admin_editor.errors.count, "error") %> prohibited this transect_admin_editor from being saved:</h2>

      <ul>
      <% transect_admin_editor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :transect_id %>
    <%= form.collection_select :transect_id, Transect.order(:transect_code),
                                :id, :transect_code, include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :admin_id %>
    <%= form.collection_select :admin_id, Admin.order(:email),
                                :id, :email, include_blank: true %>
  </div>

  <!-- <div class="field">
    <%= form.label :transect_id %>
    <%= form.text_field :transect_id %>
  </div>

  <div class="field">
    <%= form.label :admin_id %>
    <%= form.text_field :admin_id %>
  </div> -->

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
