<!DOCTYPE html>
<html>
  <head>
    <title>LETS Analyze</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application',
                            media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application',
                            'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Static navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/home">LETS Analyze</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Analysis
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Species Density by Altitude by Year</a>
              <a class="dropdown-item" href="#">Species Density by Altitude by Species</a>
              <a class="dropdown-item" href="#">Species Density Analysis (Kite / Density & Heat Maps)</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Tree Circumfrence by Altitude by Year</a>
              <a class="dropdown-item" href="#">Tree Circumfrence by Altitude by Species</a>
              <a class="dropdown-item" href="#">Visual Tree Circumfrence Analysis (Bubble Chart)</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Raw Data
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to 'Tree Data', tree_measurements_path(format: :html), class: "dropdown-item" %>
              <div class="dropdown-divider"></div>
              <%= link_to "Tree Plots", tree_plots_path(format: :html), class: "dropdown-item" %>
              <%= link_to "Tree Species", tree_species_path(format: :html), class: "dropdown-item" %>
            </div>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <% if admin_signed_in? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                  role="button" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                <%= current_admin.name %>
              </a>
              <div class="dropdown-menu dropdown-menu-right"
                                              aria-labelledby="navbarDropdown">
                <%= link_to "My Profile", my_profile_path,
                                                class: "dropdown-item" %>
                <%= link_to "Change Password", my_passwd_path,
                                                class: "dropdown-item" %>
                <div class="dropdown-divider"></div>
                <%= link_to "Manage Admins", admins_path,
                                                class: "dropdown-item" %>
                <div class="dropdown-divider"></div>
                <%= link_to 'Logout', destroy_admin_session_path,
                              method: "delete", class: "dropdown-item" %>
              </div>
            </li>
          <% else %>
            <li class="nav-item">
              <a class="nav-link active" href="http://lets-study.ch/">About</a>
            </li>
            <li class="nav-item">
              <%= link_to 'Login', new_admin_session_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
        <!--
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
      </div>
    </nav> <!-- Static Nav bar -->

    <div class="container">

      <%= flash_messages %>

      <br>

      <%= yield %>

    </div> <!-- /container -->


  </body>
</html>
